/* Put your style information here! */

body {
    margin: 20px;
    padding: 0px;

    display: flex;
    flex-flow: column wrap;
    background: #fefbd8;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Rboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #36486b;
    font-size: 20px;
}



@media screen and (min-width: 400px) and (max-width: 799px) {
    body {
         margin: 100px;
         margin-top: 20px;
    }


}

@media screen and (min-width: 800px) {
    body {
         margin: 200px;
         margin-top: 20px;
    }


}

@media screen and (max-width: 350px) {


}

img {
    max-width: 100%;
    height: auto;    
}

h1 {
    color: #4040a1;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    color: #618685;
    font-weight: 450;
    font-size: 40px;
    
}

h3 {
    color: #4040a1;
    font-style: italic;
    font-size: 30px;
}

h4 {
    color: #9966ff;
    font-size: 25px;
}

h5 {
    color: #808080;
    font-size: 20px;
    font-style: italic;

}

.b1 {
    background-color: #074d5c;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;
}

.b2 {
    background-color: #086c74;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;

    
}

.b3 {
    background-color: #009489;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;

}

.b4 {
    background-color: #00afb4;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;

}

.b5 {
    background-color: #00fff9;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;

}

.t1 {
    color: white;
    background-color: #074d5c;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 900;
    font-size: 55px;
}

.t2 {
    color: #009489;
    background-color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 900;
    font-size: 40px;
    
}

.t3 {
    color: white;
    background-color: #086c74;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-weight: 900;
    font-size: 40px;
}

.t4 {
    color: #00fff9;
    background-color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-size: 25px;
    font-weight: bold;
}

.t5 {
    background-color: white;
    color: black;
    font-size: 20px;

}

.spacing {
    margin: 10px;
}

button {
        width: 300px;
        height: 100px;
    }


.button1 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-size: 25px;
    font-weight: bold;
}

.quitos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: groove 10px;
    border-color: #b2b2b2;
    transition: 1s ease-in;
}

.quitos:hover {
    border: groove 20px;
    border-color: #336699;
    transition: .3s;
}

.lofi {
    display: flex;
    justify-content: center;
    border: groove 10px;
    border-color: #b2b2b2;
}



.conclusion {
    margin-bottom: 200px;
}