/* Put your style information here! */

html, body {
    margin: 0px;
    padding: 0px;
    height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
    display: flex;
    flex-flow: column wrap;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Rboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
   padding-bottom:60px; 
}



@media screen and (min-width: 400px) and (max-width: 799px) {

    .info {
        flex-basis: 35%;
        margin: 20px;
        padding: 60px;
    }

}

@media screen and (min-width: 800px) {

    .order {
        padding: 125px;
        padding-top: 75px;
        padding-right: 400px;
        padding-left: 400px;
        margin-bottom: 10px;
    
    }

    button {
        width: 300px;
    }

    .order-text {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .information {
        margin-top: 30px;
        margin-bottom: 200px;
    }
    
    .info {
        flex-basis: 35%;
        margin: 40px;
        padding: 60px;
    }

    
    .hours-text {
        margin-left: 30px;    
    }
    
    .hours-info {
        margin-left: 20px;
    }

    .box {
        height: 400px;
        margin: 10px;
        margin-bottom: 100px;
    }

    .button-box {
        height: 300px;
    }

    #topnav {
        padding: 20px;
    }
    
    

}

@media screen and (max-width: 350px) {
    #topnav a:not(:first-child) {display: none;}
    #topnav a.icon {
        float: right;
        display: block;
    }

    #topnav.responsive {position: relative;}
    #topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

img {
    max-width: 100%;
    height: auto;    
}

h1 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 900;
    font-size: 55px;
}

h2 {
    color: #009489;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 900;
    font-size: 40px;
    
}

h3 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-weight: 900;
    font-size: 40px;
}

h4 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-size: 25px;
    font-weight: bold;
}

h5 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-size: 20px;

}

.b1 {
    background-color: #074d5c;
}

.b2 {
    background-color: #086c74;
    
}

.b3 {
    background-color: #009489;
}

.b4 {
    background-color: #00afb4;
}

.b5 {
    background-color: #00fff9;
}

.order {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-image: url("gallery/fish.jpg");
    background-size: 100%;
    background-position: 0% 25%;
}

.order-text {
    text-align: center;
}

.order-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.information {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;

}

.hours {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.hours-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.button-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.menu {
    background-image: url("gallery/view.jpg");
    background-size: 100%;
}


.gift {
    background-image: url("gallery/pasta.jpg");
    background-size: 100%;
    background-position: 0% -15%;
}

.loyal {
    background-image: url("gallery/people.jpg");
    background-size: 100%;
    background-position: 0% 25%;
}

.text {
    text-align: center;
}



.restaurant {
    background-image: url("gallery/outdoor-sign.jpg");
    background-size: 100%;
    background-position: 0% 50%;
}

.description{
    text-align: center;
}

#topnav {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    font-size: 20px;
    background-color: #009489;
    overflow: hidden;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#topnav .icon {
  display: none;
}

#footer {
        position:absolute;
        padding: 10px;
        padding-bottom: 0px;
        bottom:0;
        width:100%;
        height:40px;   /* Height of the footer */
        background:#009489;
        color: white;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

        font-size: 20px;
    }